/*
Author: Christian Riddle
Date: 1/9/2024
File Name: apply08.css
*/

/* CSS Reset */
body, main, footer, table, tr, td, th, caption {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #ffe5dc;
}

table {
	width: 80%;
	margin: 0 auto;
	border: 8px solid #fd4d0c;
	box-shadow: 12px 12px 16px #792101;
	background-color: #a22c02
}

table, tr, th, td {
	border-collapse: collapse;
	padding: 2%;
	font-size: 1.00em;
	font-family: sans-serif;
}

caption {
	font-size: 2em;
	color: #792101;
	font-weight: bold;
	font-family: sans-serif;
}

td {
	border: 1px solid #a22c02;
}

th {
	color: #fff;
	border: 1px solid #fff;
	background-color: #a22c02;
	font-family: sans-serif;
}

tr:nth-child(odd) {
	background-color: #fe9772;
}

tr:nth-child(even) {
	background-color: #ffe5dc;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}